.generaredPassword{
    border: 2px dashed #8c9096!important;
}

p{
    text-align: center;
    margin: 10px;
    color: #8c9096;
}

option, label, select{
    color: #8c9096;
}

.btn{
    font-size: 20px!important;
}

#generatedPassword{
    margin: 40px auto 50px auto;
    font-size: 40px;
    height: 50px;
}

#displayPassword{
    font-size: 27px;
    color: #8c9096;
}